@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Lora&family=Poppins:wght@200&family=Source+Sans+Pro:wght@300&display=swap');

/* font-family: 'Libre Baskerville', serif !important; */

*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}
body{
    background-image: url(../img/layered-waves-haikei.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* inicio header */

.navbar{
    background-color: black !important;
}
.nav-link{
    font-family: 'Libre Baskerville', serif !important;
    color: rgb(255, 226, 2) !important;
    letter-spacing: 2px;
}
.sec1{
    height: 300px;
    background-image: url(../img/fotoStudio/ASECAS\ STUDIO\ 2.jpg);
    background-size: cover;
    background-position: center;
}
.slogan1{
    color: black;
    font-style: italic;
    height: 100px;
    position: relative;
    top: 100px;
    line-height: 100px;
    text-align: center;
    letter-spacing: 3px;
    word-spacing: 7px;
    font-family: 'Libre Baskerville', serif;
    font-size: 40px;
    background-color: rgba(145, 145, 145, 0.817);
    text-shadow: 0 0 2px rgb(255, 255, 255);
}
.sec3 h2{
    color: black;
    text-align: center;
    height: 100px;
    background-color: #ffe600a5;
    font-family: 'Libre Baskerville', serif;
    text-align: center;
    line-height: 100px;
    font-size: 30px;
    letter-spacing: 3px;
    word-spacing: 10px;
    text-shadow: 0 0 2px rgb(206, 206, 206);
}

/* fin header */


/* nosotros */

.sec1-nos{
    font-family: 'Libre Baskerville', serif !important;
}

.h2-nos{
    text-align: center;
    text-shadow: 0 0 3px white;
}

#map-nos{
    height: 300px;
}

#map-nos:hover{
    transform: scale(1.2);
    transition: all 2s;
}

.certificados{
    font-family: 'Libre Baskerville', serif !important;
    padding: 50px 0 100px 0;
}

.cer{
    color: black;
    text-align: center;
    text-shadow: 0 0 3px white;
}

.modal1{
    text-align: center;
}

.img-thumbnail:hover{
    position: fixed;
    top: 0;
    left: 50%;
    width: 50%;
    z-index: 100;
    transform: translateX(-50%);
}

/* fin nosotros */

/* portfolio */

.tit-port{
    margin-top: 40px;
    color: rgb(0, 0, 0);
    text-shadow: 0 0 3px rgb(255, 255, 255);
    text-align: center;
    font-family: 'Libre Baskerville', serif !important;
    height: 70px;
}

/* fin portfolio */

/* faq */

.btn{
    font-family: 'Libre Baskerville', serif !important;
    color: black !important;
}

.btn-dark{
    font-family: 'Libre Baskerville', serif !important;
}

.card-header{
    background-color: rgb(194, 194, 94);
}

/* fin faq */



/* servicios */

/* .servicios{
    display: flex;
    justify-content: center;
    padding: 40px 100px 40px 100px;
} */

.artServ{
    display: flex;
    flex-direction: column-reverse;
}

.imgServ{
    border-radius: 200px !important;
}

.imgServ{
    animation-name: girar;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes girar{
    0%{
        transform: rotateZ(0deg);
    }
    100%{
        transform: rotateZ(360deg);

    }
}

.nombre{
    background-color: rgb(148, 148, 83);
    margin-top: 15px;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    letter-spacing: 3px;
    font-size: x-large;
}


/* fin servicios */

/* footer */

.text-center{
    background-color: black !important;
}

.card-body{
    color:blanchedalmond;
}

.card-title{
    font-style: italic;
}

/* fin footer */


/* media queries */

@media screen and (max-width: 1024px){
    /* header */
    .slogan1{
        font-size: 25px;
    }

    /* servicios */
    .nombre{
        font-size: 16px;
        letter-spacing: 0px;
    }
    .servicios{
        padding: 20px 50px 20px 50px;
    }
}

@media screen and (max-width: 768px){
    /* header */
    .slogan1{
        font-size: 25px;
    }
    .sec3 h2{
        font-size: 25px;
    }
    .nav-link{
        font-size: 10px;
    }

    /* nosotros */

    .h2-nos{
        font-size: 25px;
    }
    .par-nos{
        font-size: 12px;
    }
    .cer{
        font-size: 25px;
    }
    #map-nos{
        height: 300px;
    }

    /* portfolio */
    .tit-port{
        font-size: 20px;
        margin-top: 20px;
        height: 40px;
    }

    /* servicios */
    .servicios{
        padding: 10px 30px 10px 30px;
    }
}

@media screen and (max-width: 600px){
    /* header */
    .slogan1{
        font-size: 15px;
    }
    .sec3 h2{
        font-size: 15px;
    }
    .nav-link{
        font-size: 8px;
    }
}

@media screen and (max-width: 425px){
    /* header */
    .slogan1{
        font-size: 10px;
    }
    .sec3 h2{
        font-size: 10px;
    }

    /* nosotros */
    .h2-nos{
        font-size: 18px;
    }
    .par-nos{
        font-size: 10px;
    }
    .cer{
        font-size: 18px;
    }
    #map-nos{
        height: 200px;
    }

    /* servicios */
    .nombre{
        font-size: 9px;
        letter-spacing: 0px;
    }
    .servicios{
        padding: 0px 0px 0px 0px;
    }
}