// colores

$amarillo: #FFE500;
$amarillo-trans: #ffe6009b;
$marron: #9C9165;
$marron-trans: #9c91659a;
$blanco: #FDF9F0;
$negro: #1F1B0C;
$negro-trans: #1f1b0ca5;

.btn{
    font-family: 'Libre Baskerville', serif !important;
    color: $negro !important;
}

.btn-dark{
    font-family: 'Libre Baskerville', serif !important;
}

.card-header{
    background-color: $marron;
}