.btn{
    font-family: 'Libre Baskerville', serif !important;
    color: black !important;
}

.btn-dark{
    font-family: 'Libre Baskerville', serif !important;
}

.card-header{
    background-color: rgb(194, 194, 94);
}