// colores

$amarillo: #FFE500;
$amarillo-trans: #ffe6009b;
$marron: #9C9165;
$marron-trans: #9c91659a;
$blanco: #FDF9F0;
$negro: #1F1B0C;
$negro-trans: #1f1b0ca5;

@mixin sizes($width, $height) {
    height: $height;
    width: $width;
}




.tit-port{
    margin-top: 40px;
    color: rgb(0, 0, 0);
    text-shadow: 0 0 3px rgb(255, 255, 255);
    text-align: center;
    font-family: 'Libre Baskerville', serif !important;
    height: 70px;
}