// colores

$amarillo: #FFE500;
$amarillo-trans: #ffe6009b;
$marron: #9C9165;
$marron-trans: #9c91659a;
$blanco: #FDF9F0;
$negro: #1F1B0C;
$negro-trans: #1f1b0ca5;

@mixin sizes($width, $height) {
    height: $height;
    width: $width;
}




.artServ{
    display: flex;
    flex-direction: column-reverse;
    & .imgServ{
    
        border-radius: 1000px !important;
    }
    
    .imgServ{
        animation-name: girar;
        animation-duration: 6s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
    
    @keyframes girar{
        0%{
            transform: rotateZ(0deg);
        }
        100%{
            transform: rotateZ(360deg);
    
        }
    }
    & .nombre{
        // background-color: $marron-trans;
        margin-top: 15px;
        padding: 5px;
        border-radius: 10px;
        text-align: center;
        font-family: 'Libre Baskerville', serif;
        letter-spacing: 3px;
        font-size: x-large;
    }
}

// incorporacion de mapa

$servicios: (
    serv1: #FDF9F0,
    serv2: #9c91659a,
    serv3: #ffe6009b,
    serv4: #473c12a5
    );

@each $serv, $color in $servicios {
    .btn--#{$serv} {
        background-color: $color;
    }
}
