@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Lora&family=Poppins:wght@200&family=Source+Sans+Pro:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: url(../img/fondo3.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  background-color: black !important;
}

.navbar .nav-link {
  font-family: 'Libre Baskerville', serif !important;
  color: #FDF9F0 !important;
  letter-spacing: 2px;
}

.sec1 {
  height: 300px;
  width: 100%;
  background-image: url(../img/fotoStudio/ASECAS_STUDIO_2.jpg);
  background-size: cover;
  background-position: center;
}

.sec1 .slogan1 {
  color: black;
  font-style: italic;
  height: 100px;
  width: 100%;
  position: relative;
  top: 100px;
  line-height: 100px;
  text-align: center;
  letter-spacing: 3px;
  word-spacing: 7px;
  font-family: 'Libre Baskerville', serif;
  font-size: 40px;
  background-color: #9c91659a;
  text-shadow: 0 0 2px #FDF9F0;
}

.sec3 h1 {
  color: black;
  text-align: center;
  height: 100px;
  background-color: #ffe6009b;
  font-family: 'Libre Baskerville', serif;
  text-align: center;
  line-height: 100px;
  font-size: 30px;
  letter-spacing: 3px;
  word-spacing: 10px;
  text-shadow: 0 0 2px #FDF9F0;
}

.sec1-nos, .certificados {
  font-family: 'Libre Baskerville', serif !important;
}

.sec1-nos .h2-nos, .certificados .h2-nos {
  text-align: center;
  text-shadow: 0 0 3px #FDF9F0;
  padding-bottom: 10px;
}

.sec1-nos .par-nos, .certificados .par-nos {
  text-align: center;
  font-size: 17px;
}

.sec1-nos #map-nos, .certificados #map-nos {
  height: 300px;
}

.sec1-nos #map-nos:hover, .certificados #map-nos:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all 2s;
  transition: all 2s;
}

.sec1-nos .modal1, .certificados .modal1 {
  text-align: center;
}

.certificados {
  padding: 50px 0 100px 0;
}

.certificados .cer {
  color: #1F1B0C;
  text-align: center;
  text-shadow: 0 0 3px white;
}

.certificados .cer .img-thumbnail:hover {
  position: fixed;
  top: 0;
  left: 50%;
  width: 50%;
  z-index: 100;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.tit-port {
  margin-top: 40px;
  color: black;
  text-shadow: 0 0 3px white;
  text-align: center;
  font-family: 'Libre Baskerville', serif !important;
  height: 70px;
}

.artServ {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.artServ .imgServ {
  border-radius: 1000px !important;
}

.artServ .imgServ {
  -webkit-animation-name: girar;
          animation-name: girar;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes girar {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@keyframes girar {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

.artServ .nombre {
  margin-top: 15px;
  padding: 5px;
  border-radius: 10px;
  text-align: center;
  font-family: 'Libre Baskerville', serif;
  letter-spacing: 3px;
  font-size: x-large;
}

.btn--serv1 {
  background-color: #FDF9F0;
}

.btn--serv2 {
  background-color: #9c91659a;
}

.btn--serv3 {
  background-color: #ffe6009b;
}

.btn--serv4 {
  background-color: #473c12a5;
}

.btn {
  font-family: 'Libre Baskerville', serif !important;
  color: #1F1B0C !important;
}

.btn-dark {
  font-family: 'Libre Baskerville', serif !important;
}

.card-header {
  background-color: #9C9165;
}

.text-center {
  background-color: black !important;
}

.text-center .card-body {
  color: blanchedalmond;
}

.text-center .card-body .card-title {
  font-style: italic;
}

@media screen and (max-width: 1024px) {
  /* header */
  .sec1 .slogan1 {
    font-size: 25px;
  }
  .sec3 h1 {
    font-size: 23px;
  }
  /* servicios */
  .artServ .nombre {
    font-size: 16px;
    letter-spacing: 0px;
  }
}

@media screen and (max-width: 768px) {
  /* header */
  .sec1 .slogan1 {
    font-size: 20px;
  }
  .sec3 h1 {
    font-size: 19px;
  }
  .nav-link {
    font-size: 10px;
  }
  /* nosotros */
  .sec1-nos .h2-nos, .certificados .h2-nos {
    font-size: 25px;
  }
  .sec1-nos .par-nos, .certificados .par-nos {
    font-size: 14px;
  }
  .certificados .cer {
    font-size: 25px;
  }
  .sec1-nos #map-nos, .certificados #map-nos {
    height: 300px;
  }
  /* portfolio */
  .tit-port {
    font-size: 20px;
    margin-top: 20px;
    height: 40px;
  }
  .btn {
    font-size: 25px;
  }
  .btn-dark {
    font-size: 20px;
  }
}

@media screen and (max-width: 600px) {
  /* header */
  .sec1 .slogan1 {
    font-size: 15px;
  }
  .sec3 h1 {
    font-size: 13px;
  }
  .nav-link {
    font-size: 8px;
  }
  .btn {
    font-size: 19px;
  }
  .btn-dark {
    font-size: 15px;
  }
  .text-center {
    font-size: 18px;
  }
  .text-center .card-body .card-title {
    font-size: 20px;
  }
}

@media screen and (max-width: 425px) {
  /* header */
  .sec1 .slogan1 {
    font-size: 10px;
  }
  .sec3 h1 {
    font-size: 9px;
  }
  /* nosotros */
  .sec1-nos .h2-nos, .certificados .h2-nos {
    font-size: 18px;
  }
  .sec1-nos .par-nos, .certificados .par-nos {
    font-size: 10px;
  }
  .certificados .cer {
    font-size: 18px;
  }
  .sec1-nos #map-nos, .certificados #map-nos {
    height: 200px;
  }
  /* servicios */
  .artServ .nombre {
    font-size: 9px;
    letter-spacing: 0px;
  }
  .servicios {
    padding: 0px 0px 0px 0px;
  }
}

.btn {
  font-size: 15px;
}

.btn-dark {
  font-size: 12px;
}

.text-center {
  font-size: 12px;
}

.text-center .card-body .card-title {
  font-size: 18px;
}

/* font-family: 'Libre Baskerville', serif !important; */
/* .servicios{
    display: flex;
    justify-content: center;
    padding: 40px 100px 40px 100px;
} */
/*# sourceMappingURL=estilos.css.map */